---
title: home
layout: default
---

{% include slidecarousel.html %}
  {% include adsense.html %}
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Best Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Fast Respondsive</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

    {% include produkbaru.html %}

    {% include adsense.html %}

    {% include produkshopee.html %}

    {% include adsense.html %}

    {% include produktokopedia.html %}

    {% include adsense.html %}

<h3>PLAYLIST TERBAIK MWNS</h3>
<div class="embed-container">
  <iframe
      src="https://youtube.com/embed/playlist?list=PLl3VtaZ1T4VpPm1NjF0jPwETk_npxDrwI"
      width="100%"
      height="480"
      frameborder="0"
      allowfullscreen="true">
  </iframe>
</div>
