---
title: home
layout: default
---

<div id="wrapper">
 <div id="content-wrapper" itemscope itemtype="http://schema.org/Blog" role="main">
  <div id="homepage-wrapper">
   <div class="section" id="Homepage Widget">
    <div class="widget LinkList" data-version="1" id="LinkList3">
     <div class="widget-content">
      {% include carousel.html %}
     </div>
    </div>
    <div class="widget PopularPosts" data-version="1" id="PopularPosts2">
     <div class="widget-content popular-posts">
      <ul>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="https://safelink.id/cJ26ZOPT" target="_blank">
           <amp-img alt="simaster auto eth1" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" title="Rocket Royale v1.6.7 (Mod Money)" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px; --loader-delay-offset:600ms !important;">
            <img decoding="async" alt="simaster auto eth1" title="simaster V2 eth1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
           </amp-img></a>
         </div>
         <div class="item-title">
          <a href="https://safelink.id/cJ26ZOPT">Simaster V2 Eth1<br>(Online For OpenClash)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="https://safelink.id/6qLgu" target="_blank">
           <amp-img alt="simaster auto eth2" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" title="World Cricket Championship 2 - WCC2 v2.8.7.5 (Mod Money/Unlocked) " width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px; --loader-delay-offset:600ms !important;">
            <img decoding="async" alt="simaster V2 eth2" title="simaster auto eth2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
           </amp-img></a>
         </div>
         <div class="item-title">
          <a href="https://safelink.id/6qLgu">Simaster V2 Eth2<br>(Online For OpenClash)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="https://safelink.id/kyt4BIe" target="_blank">
           <amp-img alt="simaster auto wwan0" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" title="Sniper 3D Gun Shooter: Free Elite Shooting Games v2.23.9 (Mod) " width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
            <img decoding="async" alt="simaster V2 wwan0" title="simaster auto wwan0" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
           </amp-img></a>
         </div>
         <div class="item-title">
          <a href="https://safelink.id/kyt4BIe">Simaster V2 WWAN0<br>(Online For OpenClash)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="https://safelink.id/F6invPs" target="_blank">
           <amp-img alt="simaster auto usb0" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" title="Retrowave Wallpapers PRO (Live Walls,GIFs &amp; Radio) v3.1 (Paid) " width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
           <img decoding="async" alt="simaster V2 usb0" title="simaster auto usb1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img></a>
         </div>
         <div class="item-title">
          <a href="https://safelink.id/F6invPs">Simaster V2 Usb0<br>(Online For OpenClash)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="https://safelink.id/BJW3" target="_blank">
           <amp-img alt="simaster auto usb1" height="72" src="https://1.bp.blogspot.com/gziL0QpbV8Zy7CI57jINd1FTlxDuUcejvmvejcXddV-GM3cEJviRLYHxuZz616LtmgE=s72-c" title="6 Pack Promise - Ultimate Abs v1.1.80 (Unlocked) " width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
           <img decoding="async" alt="simaster V2 usb1" title="simaster auto usb1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img></a>
         </div>
         <div class="item-title">
          <a href="https://safelink.id/BJW3">Simaster V2 Usb1<br>(Online For OpenClash)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="https://safelink.id/1BwBqphn" target="_blank">
           <amp-img alt="simaster auto vlan30" height="72" src="https://github.com/Dreamacro/clash/blob/master/docs/logo.png" title="WeNote - Color Notes, To-do, Reminders &amp; Calendar v1.78 (Premium) " width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
           <img decoding="async" alt="simaster V2 vlan30" title="simaster auto vlan30" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img></a>
         </div>
         <div class="item-title">
          <a href="https://safelink.id/1BwBqphn">Simaster V2 Vlan30<br>(Online For OpenClash)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="https://safelink.id/5KpgPfoE" target="_blank">
           <amp-img alt="simaster auto vlan20" height="72" src="https://github.com/Dreamacro/clash/blob/master/docs/logo.png" title="WeNote - Color Notes, To-do, Reminders &amp; Calendar v1.78 (Premium) " width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
           <img decoding="async" alt="simaster V2 vlan20" title="simaster auto vlan20" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img></a>
         </div>
         <div class="item-title">
          <a href="https://safelink.id/5KpgPfoE">Simaster V2 Vlan20<br>(Online For OpenClash)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="https://safelink.id/qsX3OX" target="_blank">
           <amp-img alt="simaster auto eth1 eth2" height="72" src="https://github.com/Dreamacro/clash/blob/master/docs/logo.png" title="WeNote - Color Notes, To-do, Reminders &amp; Calendar v1.78 (Premium) " width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
           <img decoding="async" alt="simaster V2 eth1 eth2" title="simaster auto eth1 eth2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img></a>
         </div>
         <div class="item-title">
          <a href="https://safelink.id/qsX3OX">Simaster V2 eth1 eth2<br>(Online For OpenClash)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="https://safelink.id/o0Pr2m" target="_blank">
           <amp-img alt="simaster auto usb0 usb1" height="72" src="https://github.com/Dreamacro/clash/blob/master/docs/logo.png" title="WeNote - Color Notes, To-do, Reminders &amp; Calendar v1.78 (Premium) " width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
           <img decoding="async" alt="simaster V2 usb0 usb1" title="simaster auto usb0 usb1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img></a>
         </div>
         <div class="item-title">
          <a href="https://safelink.id/o0Pr2m">Simaster V2 usb0 usb1<br>(Online For OpenClash)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="https://safelink.id/yL0FXN" target="_blank">
           <amp-img alt="simaster auto vlan20 vlan30" height="72" src="https://github.com/Dreamacro/clash/blob/master/docs/logo.png" title="WeNote - Color Notes, To-do, Reminders &amp; Calendar v1.78 (Premium) " width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
           <img decoding="async" alt="simaster V2 vlan20 vlan30" title="simaster auto vlan20 vlan30" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img></a>
         </div>
         <div class="item-title">
          <a href="https://safelink.id/yL0FXN">Simaster V2 Vlan20 vlan30<br>(Online For OpenClash)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
       <li>
        <div class="item-thumbnail-only">
         <div class="item-thumbnail">
          <a href="/config.html" target="_blank">
           <amp-img alt="more config" height="72" src="https://github.com/Dreamacro/clash/blob/master/docs/logo.png" title="WeNote - Color Notes, To-do, Reminders &amp; Calendar v1.78 (Premium) " width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
           <img decoding="async" alt="more config" title="simaster auto vlan20 vlan30" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img></a>
         </div>
         <div class="item-title">
          <a href="/config.html">Config Lain Nya<br>(More Config)</a>
         </div>
        </div>
        <div style="clear: both;"></div></li>
      </ul>
     </div>
    </div>    
    </div>
   </div>
  </div>
  </div>

    {% include postmaster.html %}
