<div id="mc_embed_signup">
  <div id="mc_embed_signup_scroll">
      <div class="label">Follow <span class="to">Fanspage</span> <span class="our">dari Simaster</span></div>
      <div class="clear">
        <iframe src="https://www.facebook.com/100090751892618/" width="100%" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>
</div>
