<div id="mc_embed_signup">
  <div id="mc_embed_signup_scroll">
      <div class="label">Follow <span class="to">Fanspage</span> <span class="our">dari Simaster</span></div>
      <div class="clear">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fm.facebook.com%2F100090751892618&tabs=timeline&width=320&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=142873210358518" width="320" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>
</div>
