<div id="mc_embed_signup">
  <div id="mc_embed_signup_scroll">
      <div class="label">Follow <span class="to">Fanspage</span> <span class="our">dari Simaster</span></div>
      <div class="clear">
<amp-facebook-page
  width="340"
  height="130"
  layout="fixed"
  data-hide-cover="true"
  data-href="https://www.facebook.com/100090751892618/">
</amp-facebook-page>
          <br>
        <a href="https://www.facebook.com/100090751892618" class="button" target="_blank" title="Subscribe">Go To Fanspage</a>
      </div>
    </div>
</div>
