<div id="kotak-bagikan-container">
<div class="garis-label-c">
<p class="bagikan-sekarang">BAGIKAN POST SIMASTER</p>
</div>
<div id="kotak-bagikan">
<button onclick="sharethis()"><img src="/assets/images/share.png" width="420" height="200"></button>
</div>
</div>

<script type="text/javascript">
function sharethis()
{
if (navigator.share) {
  navigator.share({
    title: '{{ page.title }}',
    text: '{{ page.title }}',
    url: '{{ site.url }}{{ page.url }}',
  })
    .then(() => console.log('Sukses Dibagikan'))
    .catch((error) => console.log('Gagal Membagikan', error));
}}
</script>
