    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <span class="breadcrumb-item active"><a href="{{ site.baseurl }}">Home</a>/<a href="{{ site.baseurl }}/tag-{{ page.tags }}.html">{{ page.tags }}</a>/<a href="{{ page.url }}">{{ page.title }}</a></span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
