    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item active" href="/">Home</a>
                    <span class="breadcrumb-item active"><a href="{{ page.url }}">{{ page.title }}</a></span>
                    <span class="breadcrumb-item active"><a href="{{ post.url }}">{{ post.title }}</a></span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
