<!-- Facebook -->
<a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/wmnsyoutubeofficial" role="button">
<i class="fab fa-facebook-f"></i></a>

<!-- Telegram -->
<a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button">
<i class="fab fa-telegram"></i></a>

<!-- Instagram -->
<a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button">
<i class="fab fa-instagram"></i></a>

<!-- Youtube -->
<a class="btn btn-primary" style="background-color: #ed302f;" href="https://www.youtube.com/@mwnsofficial" role="button">
<i class="fab fa-youtube"></i></a>

<!-- Github -->
<a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/mwnsofficial" role="button">
<i class="fab fa-github"></i></a>

<!-- Whatsapp -->
<a class="btn btn-primary" style="background-color: #25d366;" href="https://api.whatsapp.com/send?phone=6287764241047" role="button">
<i class="fab fa-whatsapp"></i></a>
