<amp-carousel height="210" layout="fixed-height" type="carousel" width="auto" class="i-amphtml-element i-amphtml-layout-fixed-height i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout i-amphtml-carousel-button-start-hint" i-amphtml-layout="fixed-height" style="height: 210px;">
    <div class="i-amphtml-scrollable-carousel-container" tabindex="-1">
       <iframe width="350" height="210" allowfullscreen
          src="https://youtube.com/embed/playlist?list=PLl3VtaZ1T4Vqy07x_sKKlYoyRj_vMH_GQ">
       </iframe>
       <iframe width="350" height="210" allowfullscreen
          src="https://youtube.com/embed/playlist?list=PLl3VtaZ1T4Vp3Zic354S42tAi9u90_QvW">
       </iframe>
       <iframe width="350" height="210" allowfullscreen
          src="https://youtube.com/embed/playlist?list=PLl3VtaZ1T4VonR6LWHxUz-YBOxm9Njpfj">
       </iframe>
       <iframe width="350" height="210" allowfullscreen
          src="https://youtube.com/embed/playlist?list=PLl3VtaZ1T4VpPm1NjF0jPwETk_npxDrwI">
       </iframe>
     </div>
   <div tabindex="-1" class="amp-carousel-button amp-carousel-button-prev amp-disabled" role="presentation" title="Previous item in carousel" aria-disabled="true"></div>
 <div tabindex="0" class="amp-carousel-button amp-carousel-button-next" role="presentation" title="Next item in carousel" aria-disabled="false"></div>
</amp-carousel>
