<!-- Start Donation Simaster -->
<div class='donasimaster'>
  <div class='ikon'>
    <a href='/donasi.html' onclick='window.open(this.href,"toolbar=0,status=0,width=800,height=600");return false;' title='Donasi via Paypal untuk Simaster'>
      <svg viewbox='0 0 24 24'><path d='M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z'/></svg>
      <span>KLIK DISINI</span>
    </a>
  </div>
  <div class='deskripsi'>
    <span class='judul'>DONASI UNTUK SIMASTER</span>
    Bantu berikan donasi jika blog ini bermanfaat. Donasi akan digunakan untuk memperpanjang domain <b><i>www.clashmwns.com</i></b>. Terima kasih.
  </div>
</div>
<!-- Start Donation Simaster -->
