<center><h3>Kumpulan File Master</h3></center>
<amp-selector class="tabs-with-flex" role="tablist" keyboard-select-mode="focus">
<div id="tab1" role="tab" aria-controls="tabpanel1" option selected>File</div>
<div id="tabpanel1" role="tabpanel" aria-labelledby="tab1">
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Simaster</h3>
      <ul class="archives">
       <li>
      <ul>
     <hr>
     {% include iklan.html %}
     <hr>
<li><div class='table-responsive'>
  <table class="table">
  <tr>
    <th class="tg-0pky"><center><b>Name</b></center></th>
    <th class="tg-0pky"><center><b>Release</b></center></th>
    <th class="tg-0pky"><center><b>Size File</b></center></th>
    <th class="tg-0pky"><center><b>Status</b></center></th>
    <th class="tg-0pky"><center><b>Link</b></center></th>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V1</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/lBcs" rel="nofollow" target="_blank" title="Simaster V1"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V1.1</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/xSyu0zE" rel="nofollow" target="_blank" title="Simaster V1.1"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V1.2</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/IT58Y3NZ" rel="nofollow" target="_blank" title="Simaster V1.2"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V1.3</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/fgalEzIt" rel="nofollow" target="_blank" title="Simaster V1.3"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V1.4</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/YOAaAOO" rel="nofollow" target="_blank" title="Simaster V1.4"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V1.5</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/KrIh9l" rel="nofollow" target="_blank" title="Simaster V1.5"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V1.6</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Offline</center></td>
    <td class="tg-0pky"><a href="#" rel="nofollow" target="_blank" title="Simaster V1.6"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V1.7</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/NaLC" rel="nofollow" target="_blank" title="Simaster V1.7"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V1.8</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/EVCHE" rel="nofollow" target="_blank" title="Simaster V1.8"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V1.9</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/kJZMHQ" rel="nofollow" target="_blank" title="Simaster V1.9"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2 Auto Eth1</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/cJ26ZOPT" rel="nofollow" target="_blank" rel="nofollow" title="Simaster V2 Auto Eth1"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2 Auto Eth2</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/6qLgu" rel="nofollow" target="_blank" title="Simaster V2 Auto Eth2"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2 Auto Wwan0</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/kyt4BIe" rel="nofollow" target="_blank" title="Simaster V2 Auto Wwan0"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2 Auto Usb0</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/F6invPs" rel="nofollow" target="_blank" title="Simaster V2 Auto Usb0"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2 Auto Usb1</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/BJW3" rel="nofollow" target="_blank" title="Simaster V2 Auto Usb1"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2 Auto Vlan20</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/5KpgPfoE" rel="nofollow" target="_blank" title="Simaster V2 Auto Vlan20"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2 Auto Vlan30</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/1BwBqphn" rel="nofollow" target="_blank" title="Simaster V2 Auto Vlan30"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2 Auto Eth1 Eth2</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/qsX3OX" rel="nofollow" target="_blank" title="Simaster V2 Auto Eth1 Eth2"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2 Auto Usb0 Usb1</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/o0Pr2m" rel="nofollow" target="_blank" title="Simaster V2 Auto Usb0 Usb1"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2 Auto Vlan20 Vlan30</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/yL0FXN" rel="nofollow" target="_blank" title="Simaster V2 Auto Vlan20 Vlan30"><center>Download</center></a></td>
  </tr>
  <tr>
    <td class="tg-0pky"><center>Simaster V2.1</center></td>
    <td class="tg-0pky"><center>Unkown</center></td>
    <td class="tg-0pky"><center>0 Mb</center></td>
    <td class="tg-0pky"><center>Online</center></td>
    <td class="tg-0pky"><a href="https://safelink.id/Bp7J6BTh" rel="nofollow" target="_blank" title="Simaster V2.1"><center>Download</center></a></td>
  </tr>
</table>
</div></li>
     <hr>
     {% include iklan.html %}
     <hr>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Lawas</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/OfMjQ0T" rel="nofollow" target="_blank" title="Final">Final</a></li>
     <li><a href="https://safelink.id/LQd1H" rel="nofollow" target="_blank" title="Bronze">Bronze</a></li>
     <li><a href="https://safelink.id/FCxy9NIw" rel="nofollow" target="_blank" title="Silver">Silver</a></li>
     <li><a href="https://safelink.id/UgxU" rel="nofollow" target="_blank" title="Gold">Gold</a></li>
     <li><a href="https://safelink.id/hspwwC" rel="nofollow" target="_blank" title="Platinum">Platinum</a></li>
     <hr>
     {% include iklan.html %}
     <hr>
     <li><a href="https://safelink.id/EdUq" rel="nofollow" target="_blank" title="Limited Edition">Limited Edition</a></li>
     <li><a href="https://safelink.id/GyJeJ4eM" rel="nofollow" target="_blank" title="Spesial Edition">Spesial Edition</a></li>
     <li><a href="https://safelink.id/xL2w" rel="nofollow" target="_blank" title="September Master">September Master</a></li>
     <li><a href="https://safelink.id/QQCFgQ" rel="nofollow" target="_blank" title="Desember Master">Desember Master</a></li>
     <li><a href="https://safelink.id/M5ms" rel="nofollow" target="_blank" title="Januari Master">Januari Master</a></li>
     <li><a href="https://safelink.id/MmUF" rel="nofollow" target="_blank" title="Maret Master">Maret Master</a></li>
     <li><a href="https://safelink.id/iGeFr2" rel="nofollow" target="_blank" title="April Master">April Master</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Evo</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/tAHx7wsU" rel="nofollow" target="_blank" title="Simaster Evo V1.1">Simaster Evo V1.1</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Android</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/v8aR" rel="nofollow" target="_blank" title="Best Master">Best Master</a></li>
     <li><a href="https://safelink.id/NazF" rel="nofollow" target="_blank" title="Final">Final</a></li>
     <li><a href="https://safelink.id/aL0GvMV" rel="nofollow" target="_blank" title="Bronze">Bronze</a></li>
     <li><a href="https://safelink.id/hSpP" rel="nofollow" target="_blank" title="Gold">Gold</a></li>
     <hr>
     {% include iklan.html %}
     <hr>
     <li><a href="https://safelink.id/FK4B7" rel="nofollow" target="_blank" title="Limited Edition">Limited Edition</a></li>
     <li><a href="https://safelink.id/snH5XGK" rel="nofollow" target="_blank" title="Januari Master">Januari Master</a></li>
     <li><a href="https://safelink.id/mHjNyIo" rel="nofollow" target="_blank" title="Februari Master">Februari Master</a></li>
     <li><a href="https://safelink.id/snH5XGK" rel="nofollow" target="_blank" title="Maret Master">Maret Master</a></li>
     <li><a href="https://safelink.id/C25JmGY" rel="nofollow" target="_blank" title="April Master">April Master</a></li>
     <li><a href="https://safelink.id/tcypWrjW" rel="nofollow" target="_blank" title="Simaster V1.9">Simaster V1.9</a></li>
     <li><a href="https://safelink.id/4wczUoH" rel="nofollow" target="_blank" title="Simaster V2.1">Simaster V2.1</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Magisk</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/vPKKF5" rel="nofollow" target="_blank" title="Simaster Evo V1.2">Simaster Evo V1.2</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Windows</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/J282QQd3" rel="nofollow" target="_blank" title="Simaster V1.9">Simaster V1.9</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Aplikasi</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/Sc4N2Vt" rel="nofollow" target="_blank" title="Huawei Manager V7">Huawei Manager V7</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
</div>

<div id="tab2" role="tab" aria-controls="tabpanel2" option>Akun&Rule</div>
<div id="tabpanel2" role="tabpanel" aria-labelledby="tab2">
<amp-accordion>
  <section>
    <h3 class="archive">Trojan</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="571804aa3e2aa657dcbd4835256ff2dc" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Trojan GO</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="6768992f76ebd377bd28a263a21df9ef" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Trojan WS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="10a351fdb224131c30c1f2e925cfe7f6" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Trojan GRPC</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="6209eb0ff8684df56e26fcd61e09bfd8" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Trojan XTLS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vmess WS TLS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="3ea34d7135a06983e1fad0504bb8e87f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vmess WS Non TLS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="549ab8ccdddbfe5027957f01a977ace7" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vmess GRPC</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="224a8474e70f98cc8ff594665ea8f53a" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vless WS TLS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="775b9df535f6ad5054cb38965ae4b7ed" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vless WS Non TLS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="0982227b7e4484d7c916d79cb98a8efb" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vless GRPC</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="e8640310771db1f56d6d756b401f8f19" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Shadowsocks</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="1b9234f58353f6091814a963ef258146" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Shadowsocks OBFS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="88cd10a29f01847ce9ad2ecf17f6e668" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">ShadowsocksR</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="fe212200bc162441c404da84001dfbd3" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Socks5</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="31ca6dd3c999e11754e5df229b1154b6" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Snell</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="2669226db2490f34a63458a7eae50dc0" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">HTTP</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Gamer</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Sosmed</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Stream</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Olshop</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Bank</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Chatting</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Krypto</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Education</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Rule Business</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
</div>

<div id="tab3" role="tab" aria-controls="tabpanel3" option>Script</div>
<div id="tabpanel3" role="tabpanel" aria-labelledby="tab3">
<amp-accordion>
  <section>
    <h3 class="archive">Auto Reboot Openwrt</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Auto Reboot Openclash</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Auto Reboot Passwall</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Auto Singkron Openwrt</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
     <br />
     {% include iklan.html %}
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
</div>
</amp-selector>
