<center><h3>Kumpulan File Master</h3></center>
<amp-selector class="tabs-with-flex" role="tablist" keyboard-select-mode="focus">
<div id="tab1" role="tab" aria-controls="tabpanel1" option selected>File</div>
<div id="tabpanel1" role="tabpanel" aria-labelledby="tab1">
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Simaster</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/lBcs" rel="nofollow" target="_blank" title="Simaster V1">Simaster V1</a></li>
     <li><a href="https://safelink.id/xSyu0zE" rel="nofollow" target="_blank" title="Simaster V1.1">Simaster V1.1</a></li>
     <li><a href="https://safelink.id/IT58Y3NZ" rel="nofollow" target="_blank" title="Simaster V1.2">Simaster V1.2</a></li>
     <li><a href="https://safelink.id/fgalEzIt" rel="nofollow" target="_blank" title="Simaster V1.3">Simaster V1.3</a></li>
     <li><a href="https://safelink.id/YOAaAOO" rel="nofollow" target="_blank" title="Simaster V1.4">Simaster V1.4</a></li>
     <li><a href="https://safelink.id/KrIh9l" rel="nofollow" target="_blank" title="Simaster V1.5">Simaster V1.5</a></li>
     <li><a href="https://safelink.id/NaLC" rel="nofollow" target="_blank" title="Simaster V1.7">Simaster V1.7</a></li>
     <li><a href="https://safelink.id/EVCHE" rel="nofollow" target="_blank" title="Simaster V1.8">Simaster V1.8</a></li>
     <li><a href="https://safelink.id/kJZMHQ" rel="nofollow" target="_blank" title="Simaster V1.9">Simaster V1.9</a></li>
     <li><a href="https://safelink.id/cJ26ZOPT" rel="nofollow" target="_blank" rel="nofollow" title="Simaster V2 Auto Eth1">Simaster V2 Auto Eth1</a></li>
     <li><a href="https://safelink.id/6qLgu" rel="nofollow" target="_blank" title="Simaster V2 Auto Eth2">Simaster V2 Auto Eth2</a></li>
     <li><a href="https://safelink.id/kyt4BIe" rel="nofollow" target="_blank" title="Simaster V2 Auto Wwan0">Simaster V2 Auto Wwan0</a></li>
     <li><a href="https://safelink.id/F6invPs" rel="nofollow" target="_blank" title="Simaster V2 Auto Usb0">Simaster V2 Auto Usb0</a></li>
     <li><a href="https://safelink.id/BJW3" rel="nofollow" target="_blank" title="Simaster V2 Auto Usb1">Simaster V2 Auto Usb1</a></li>
     <li><a href="https://safelink.id/5KpgPfoE" rel="nofollow" target="_blank" title="Simaster V2 Auto Vlan20">Simaster V2 Auto Vlan20</a></li>
     <li><a href="https://safelink.id/1BwBqphn" rel="nofollow" target="_blank" title="Simaster V2 Auto Vlan30">Simaster V2 Auto Vlan30</a></li>
     <li><a href="https://safelink.id/qsX3OX" rel="nofollow" target="_blank" title="Simaster V2 Auto Eth1 Eth2">Simaster V2 Auto Eth1 Eth2</a></li>
     <li><a href="https://safelink.id/o0Pr2m" rel="nofollow" target="_blank" title="Simaster V2 Auto Usb0 Usb1">Simaster V2 Auto Usb0 Usb1</a></li>
     <li><a href="https://safelink.id/yL0FXN" rel="nofollow" target="_blank" title="Simaster V2 Auto Vlan20 Vlan30">Simaster V2 Auto Vlan20 Vlan30</a></li>
     <li><a href="https://safelink.id/Bp7J6BTh" rel="nofollow" target="_blank" title="Simaster V2.1">Simaster V2.1</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Lawas</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/OfMjQ0T" rel="nofollow" target="_blank" title="Final">Final</a></li>
     <li><a href="https://safelink.id/LQd1H" rel="nofollow" target="_blank" title="Bronze">Bronze</a></li>
     <li><a href="https://safelink.id/FCxy9NIw" rel="nofollow" target="_blank" title="Silver">Silver</a></li>
     <li><a href="https://safelink.id/UgxU" rel="nofollow" target="_blank" title="Gold">Gold</a></li>
     <li><a href="https://safelink.id/hspwwC" rel="nofollow" target="_blank" title="Platinum">Platinum</a></li>
     <li><a href="https://safelink.id/EdUq" rel="nofollow" target="_blank" title="Limited Edition">Limited Edition</a></li>
     <li><a href="https://safelink.id/GyJeJ4eM" rel="nofollow" target="_blank" title="Spesial Edition">Spesial Edition</a></li>
     <li><a href="https://safelink.id/xL2w" rel="nofollow" target="_blank" title="September Master">September Master</a></li>
     <li><a href="https://safelink.id/QQCFgQ" rel="nofollow" target="_blank" title="Desember Master">Desember Master</a></li>
     <li><a href="https://safelink.id/M5ms" rel="nofollow" target="_blank" title="Januari Master">Januari Master</a></li>
     <li><a href="https://safelink.id/MmUF" rel="nofollow" target="_blank" title="Maret Master">Maret Master</a></li>
     <li><a href="https://safelink.id/iGeFr2" rel="nofollow" target="_blank" title="April Master">April Master</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Evo</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/tAHx7wsU" rel="nofollow" target="_blank" title="Simaster Evo V1.1">Simaster Evo V1.1</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Android</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/v8aR" rel="nofollow" target="_blank" title="Best Master">Best Master</a></li>
     <li><a href="https://safelink.id/NazF" rel="nofollow" target="_blank" title="Final">Final</a></li>
     <li><a href="https://safelink.id/aL0GvMV" rel="nofollow" target="_blank" title="Bronze">Bronze</a></li>
     <li><a href="https://safelink.id/hSpP" rel="nofollow" target="_blank" title="Gold">Gold</a></li>
     <li><a href="https://safelink.id/FK4B7" rel="nofollow" target="_blank" title="Limited Edition">Limited Edition</a></li>
     <li><a href="https://safelink.id/snH5XGK" rel="nofollow" target="_blank" title="Januari Master">Januari Master</a></li>
     <li><a href="https://safelink.id/mHjNyIo" rel="nofollow" target="_blank" title="Februari Master">Februari Master</a></li>
     <li><a href="https://safelink.id/snH5XGK" rel="nofollow" target="_blank" title="Maret Master">Maret Master</a></li>
     <li><a href="https://safelink.id/C25JmGY" rel="nofollow" target="_blank" title="April Master">April Master</a></li>
     <li><a href="https://safelink.id/tcypWrjW" rel="nofollow" target="_blank" title="Simaster V1.9">Simaster V1.9</a></li>
     <li><a href="https://safelink.id/4wczUoH" rel="nofollow" target="_blank" title="Simaster V2.1">Simaster V2.1</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Magisk</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/vPKKF5" rel="nofollow" target="_blank" title="Simaster Evo V1.2">Simaster Evo V1.2</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Configuration Windows</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/J282QQd3" rel="nofollow" target="_blank" title="Simaster V1.9">Simaster V1.9</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Aplikasi</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="https://safelink.id/Sc4N2Vt" rel="nofollow" target="_blank" title="Huawei Manager V7">Huawei Manager V7</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
</div>

<div id="tab2" role="tab" aria-controls="tabpanel2" option>Akun&Rule</div>
<div id="tabpanel2" role="tabpanel" aria-labelledby="tab2">
<amp-accordion>
  <section>
    <h3 class="archive">Trojan</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Trojan GO</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><a href="" rel="nofollow" target="_blank" title="">Trojan Go</a></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Trojan WS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Trojan GRPC</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Trojan XTLS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vmess WS TLS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vmess WS Non TLS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vmess GRPC</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vless WS TLS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vless WS Non TLS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Vless GRPC</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Shadowsocks</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Shadowsocks OBFS</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">ShadowsocksR</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Socks5</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Snell</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">HTTP</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Gamer</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Sosmed</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Stream</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Olshop</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Bank</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Chatting</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Krypto</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Education</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Rule Rule Business</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
</div>

<div id="tab3" role="tab" aria-controls="tabpanel3" option>Script</div>
<div id="tabpanel3" role="tabpanel" aria-labelledby="tab3">
<amp-accordion>
  <section>
    <h3 class="archive">Auto Reboot Openwrt</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Auto Reboot Openclash</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Auto Reboot Passwall</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
<amp-accordion>
  <section>
    <h3 class="archive">Auto Singkron Openwrt</h3>
      <ul class="archives">
       <li>
      <ul>
     <li><amp-gist data-gistid="b9bb35bc68df68259af94430f012425f" layout="fixed-height" height="241"></amp-gist></li>
    </ul>
   </li>
  </ul>
 </section>
</amp-accordion>
</div>
</amp-selector>
