       <div class="widget PopularPosts" data-version="1" id="PopularPosts1">
        <h2>Terpopuler</h2>
        <span>Paling populer di Simaster</span>
        <div class="widget-content popular-posts">
         <ul>
          <li>
           <div class="item-thumbnail-only">
            <div class="item-thumbnail">
             <a href="https://appdroidhunter.blogspot.com/2019/06/rocket-royale-v167-mod-money.html" target="_blank">
              <amp-img alt="" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
               <img decoding="async" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
              </amp-img></a>
            </div>
            <div class="item-title">
             <a href="/">New Huawei Manager Dark Edition</a>
            </div>
           </div>
           <div style="clear: both;"></div></li>
          <li>
           <div class="item-thumbnail-only">
            <div class="item-thumbnail">
             <a href="/" target="_blank">
              <amp-img alt="" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
               <img decoding="async" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
              </amp-img></a>
            </div>
            <div class="item-title">
             <a href="/">Simaster Auto Eth1 (for openwrt)</a>
            </div>
           </div>
           <div style="clear: both;"></div></li>
          <li>
           <div class="item-thumbnail-only">
            <div class="item-thumbnail">
             <a href="/" target="_blank">
              <amp-img alt="" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
               <img decoding="async" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
              </amp-img></a>
            </div>
            <div class="item-title">
             <a href="/">Simaster V1.6 (for openwrt)</a>
            </div>
           </div>
           <div style="clear: both;"></div></li>
          <li>
           <div class="item-thumbnail-only">
            <div class="item-thumbnail">
             <a href="/" target="_blank">
              <amp-img alt="" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
               <img decoding="async" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
              </amp-img></a>
            </div>
            <div class="item-title">
             <a href="/">Simaster V1.8 (for openwrt)</a>
            </div>
           </div>
           <div style="clear: both;"></div></li>
          <li>
           <div class="item-thumbnail-only">
            <div class="item-thumbnail">
             <a href="/" target="_blank">
              <amp-img alt="" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
               <img decoding="async" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
              </amp-img></a>
            </div>
            <div class="item-title">
             <a href="/">Simaster V1.9 (for openwrt)</a>
            </div>
           </div>
           <div style="clear: both;"></div></li>
         </ul>
        </div>
       </div>
       <div class="widget Label" data-version="1" id="Label3">
        <h2>Label</h2>
        <span>Cari Berdasarkan Label</span>
        <div class="widget-content cloud-label-widget-content">
         <span class="label-size label-size-5"><a dir="ltr" href="/config-simaster.html">Config Simaster</a></span>
         <span class="label-size label-size-5"><a dir="ltr" href="/config-evo.html">Config Evo</a></span>
         <span class="label-size label-size-5"><a dir="ltr" href="/config-lama.html">Config Lama</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/account-trojan.html">Account Trojan</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/account-vmess.html">Account Vmess</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/account-shadowsocks.html">Account Shadowsocks</a></span>
         <span class="label-size label-size-3"><a dir="ltr" href="/account-snell.html">Account Snell</a></span>
         <span class="label-size label-size-3"><a dir="ltr" href="/account-shocks5.html">Account Shocks5</a></span>
         <span class="label-size label-size-3"><a dir="ltr" href="/account-http.html">Account Http</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/rule-game.html">Rule Game</a></span>
         <span class="label-size label-size-3"><a dir="ltr" href="/rule-sosmed.html">Rule Sosmed</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/rule-stream.html">Rule Stream</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/rule-bank.html">Rule Bank</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/rule-olshop.html">Rule Online Shop</a></span>
         <span class="label-size label-size-4"><a dir="ltr" href="/rule-chatting.html">Rule Chatting</a></span>
         <span class="label-size label-size-3"><a dir="ltr" href="/rule-crypto.html">Rule Crypto</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/rule-adblock.html">Rule Adblock</a></span>
         <span class="label-size label-size-4"><a dir="ltr" href="/rule-education.html">Rule Education</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/rule-business.html">Rule Business</a></span>
         <span class="label-size label-size-5"><a dir="ltr" href="/rule-speedtest.html">Rule Speedtest</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/rule-remote.html">Rule Remote</a></span>
         <span class="label-size label-size-3"><a dir="ltr" href="/rule-download.html">Rule Download</a></span>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="clear">
     &nbsp;
    </div>
   </div>
   <div class="copyright404">
     © 
    <span id="current-year"></span>
    <a href="/">Simaster</a> | 
    <a href="/disclaimer.html">Persyaratan Layanan Situs</a> - 
    <a href="/privacy-policy.html">Privasi</a> - 
    <a href="/contact.html">Developer</a> - 
    <a href="/about.html">Tentang</a> | <!-- BEGIN: Powered by Ipaddress.is -->
<script type="text/javascript" src="//ipaddress.is/js/ipwidget.js"></script>
<script type="text/javascript">var ip_widget_var = ip_widget_var || [];ip_widget("#EEEEEE","#fcfcfc","#000000",0,0,220);</script>
<p><a href="http://my.ipaddress.is">MY IP Location</a></p>
<!-- END: Powered by Ipaddress.is --> 
   </div>
   <div class="clear"></div>
  </div> 
