       <div class="widget PopularPosts" data-version="1" id="PopularPosts1">
        <h2>Terpopuler</h2>
        <span>Paling populer di Simaster</span>
        <div class="widget-content popular-posts">
         <ul>
          <li>
           <div class="item-thumbnail-only">
            <div class="item-thumbnail">
             <a href="/aplikasi-huawei-manager7.html" target="_blank">
              <amp-img alt="" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
               <img decoding="async" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
              </amp-img></a>
            </div>
            <div class="item-title">
             <a href="/aplikasi-huawei-manager7.html">New Huawei Manager Dark Edition</a>
            </div>
           </div>
           <div style="clear: both;"></div></li>
          <li>
           <div class="item-thumbnail-only">
            <div class="item-thumbnail">
             <a href="https://safelink.id/cJ26ZOPT" target="_blank">
              <amp-img alt="" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
               <img decoding="async" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
              </amp-img></a>
            </div>
            <div class="item-title">
             <a href="https://safelink.id/cJ26ZOPT">Simaster Auto Eth1 (for openwrt)</a>
            </div>
           </div>
           <div style="clear: both;"></div></li>
          <li>
           <div class="item-thumbnail-only">
            <div class="item-thumbnail">
             <a href="/" target="_blank">
              <amp-img alt="" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
               <img decoding="async" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
              </amp-img></a>
            </div>
            <div class="item-title">
             <a href="/">Simaster V1.6 (for openwrt)</a>
            </div>
           </div>
           <div style="clear: both;"></div></li>
          <li>
           <div class="item-thumbnail-only">
            <div class="item-thumbnail">
             <a href="/" target="_blank">
              <amp-img alt="" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
               <img decoding="async" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
              </amp-img></a>
            </div>
            <div class="item-title">
             <a href="/">Simaster V1.8 (for openwrt)</a>
            </div>
           </div>
           <div style="clear: both;"></div></li>
          <li>
           <div class="item-thumbnail-only">
            <div class="item-thumbnail">
             <a href="/" target="_blank">
              <amp-img alt="" height="72" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" width="72" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="fixed" style="width: 72px; height: 72px;">
               <img decoding="async" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
              </amp-img></a>
            </div>
            <div class="item-title">
             <a href="/">Simaster V1.9 (for openwrt)</a>
            </div>
           </div>
           <div style="clear: both;"></div></li>
         </ul>
        </div>
       </div>
       <div class="widget Label" data-version="1" id="Label3">
        <h2>Label</h2>
        <span>Cari Berdasarkan Label</span>
        <div class="widget-content cloud-label-widget-content">
         <span class="label-size label-size-5"><a dir="ltr" href="/config.html">CONFIG</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/account.html">ACCOUNT</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/rule.html">RULE</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/cfa-apk.html">CFA APK</a></span>
         <span class="label-size label-size-1"><a dir="ltr" href="/cfw-apk.html">CFW APK</a></span
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="clear">
     &nbsp;
    </div>
   </div>
   <div class="copyright404">
    {% include btn-icon.html %}<br>
     © 
    2018-<script>document.write(new Date().getFullYear())</script>
    <a href="/">Simaster</a> | 
    <a href="/disclaimer.html">Disclaimer</a> - 
    <a href="/privacy-policy.html">Privacy Policy</a> - 
    <a href="/contact.html">Contact</a> - 
    <a href="/about.html">About</a> |<br>
    <a href="https://info.flagcounter.com/hwLJ"><img src="https://s11.flagcounter.com/count2/hwLJ/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
   </div>
   <div class="clear"></div>
  </div> 
