<!-- text berjalan Start -->
<div class="breakingnews">
<div class="breakingnewstitle">Config premium :</div>
<marquee class="breakingnews marquee">Nikmati paket config premium simaster dengan berbagai type = <a href="/contact.html" >Paket Config Auto</a>, bisa untuk type <a href="/tag-android.html">Android</a>, type <a href="/tag-opemwrt.html">Openwrt</a>, type <a href="/tag-magisk.html">Magisk</a>, dan juga type <a href="/tag-windows.html">Windows</a> || Daftar nama pengguna Simaster Auto: <a href="#">Lam Alif</a>, <a href="#">Rahmah Hay Hay</a>, <a href="#">Izonk</a>, <a href="#">Breadfeed</a></marquee>
</div>
<div id="kotak-bagikan-container">
  <div class="garis-label-c">
    <p class="bagikan-sekarang">langganan config premium<a href="/contact.html">klik disini</a>
  </div>
</div>
<!-- text berjalan End -->
