<!-- text berjalan Start -->
<div id="kotak-bagikan-container">
  <div class="garis-label-c">
    <p class="bagikan-sekarang">Ingin langganan config premium<a href="/contact.html">klik disini</a>
  </div>
</div>
<div id="kotak-bagikan-container">
  <div class="garis-label-c">
    <p class="bagikan-sekarang"><marquee direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="10" behavior="scroll">Lam Alif = on 31 januari 2023     |-------->    Rahmah Hay Hay = on 20 Februari 2023     |-------->    Chailin = on 6 Februari 2023     |-------->    Andre = on 14 Februari 2023</marquee></p>
  </div>
</div>
    <!-- text berjalan End -->
