<!-- text berjalan Start -->
<div id="kotak-bagikan-container">
  <div class="garis-label-c">
    <p class="bagikan-sekarang">langganan config premium<a href="/contact.html">klik disini</a>
  </div>
</div>
<div id="kotak-bagikan-container" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
  <div class="garis-label-c">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                        <li data-target="#header-carousel" data-slide-to="2"></li>
                        <li data-target="#header-carousel" data-slide-to="3"></li>
                        <li data-target="#header-carousel" data-slide-to="4"></li>
                    </ol>
                        <div class="carousel-item position-relative">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 500px;">
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lam Alif = on 31 januari 2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 500px;">
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Rahmah Hay Hay = on 20 Februari 2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 500px;">
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Chailin = on 6 Februari 2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 500px;">
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Andre = on 14 Februari 2023<</p>
                                </div>
                            </div>
                        </div>
  </div>
</div>
    <!-- text berjalan End -->
