    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">FILE</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">MASTER</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/index.html" class="nav-item nav-link">Home</a>
                            <a href="/blog.html" class="nav-item nav-link">Blog Tutorials</a>
                            <a href="/arsip.html" class="nav-item nav-link">Arsip Blog</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Configuration <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="/configuration-simaster.html" class="dropdown-item">Konfigurasi Simaster</a>
                                    <a href="/configuration-evo.html" class="dropdown-item">Konfigurasi Evo</a>
                                    <a href="/configuration-lama.html" class="dropdown-item">Konfigurasi Lama</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Account Scripts <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="/account-trojan.html" class="dropdown-item">Trojan Simaster</a>
                                    <a href="/account-vmess.html" class="dropdown-item">Vmess Simaster</a>
                                    <a href="/account-shadowsocks.html" class="dropdown-item">Shadowsocks Simaster</a>
                                    <a href="/account-snell.html" class="dropdown-item">Snell Simaster</a>
                                    <a href="/account-http.html" class="dropdown-item">HTTP Simaster</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Rules Scripts <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="/rule-game.html" class="dropdown-item">Gamer Simaster</a>
                                    <a href="/rule-sosmed.html" class="dropdown-item">Sosmed Simaster</a>
                                    <a href="/rule-stream.html" class="dropdown-item">Streaming Simaster</a>
                                    <a href="/rule-bank.html" class="dropdown-item">Bank Simaster</a>
                                    <a href="/rule-olshop.html" class="dropdown-item">Online Shop Simaster</a>
                                    <a href="/rule-chat.html" class="dropdown-item">Chatting Simaster</a>
                                </div>
                            </div>
                            <a href="/privacy-policy.html" class="nav-item nav-link">Privacy Policy</a>
                            <a href="/disclaimer.html" class="nav-item nav-link">Disclaimer</a>
                            <a href="/about.html" class="nav-item nav-link">About Us</a>
                            <a href="/contact.html" class="nav-item nav-link">Kontak</a>
                            <a href="/donasi.html" class="nav-item nav-link">Donasi</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a href="" class="btn px-0">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                            <a href="" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
