
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="Tutorial.html">TUTORIALS</a></li>
          <li class="dropdown"><a href="category.html"><span>CONFIGURATION</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">OPENWRT</a></li>
              <li><a href="#">CLASH ANDROID</a></li>
              <li><a href="#">CLASH MAGISK</a></li>
              <li><a href="#">CLASH TERMUX</a></li>
              <li><a href="#">CLASH WINDOWS</a></li>
            </ul>
              <li class="dropdown"><a href="#"><span>ACCOUNT</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">TROJAN</a></li>
                  <li><a href="#">VMESS</a></li>
                  <li><a href="#">SHADOWSOCKS</a></li>
                  <li><a href="#">SNELL</a></li>
                  <li><a href="#">HTTP</a></li>
                </ul>
              <li class="dropdown"><a href="#"><span>RULES</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">GAME</a></li>
                  <li><a href="#">SOSMED</a></li>
                  <li><a href="#">STREAM</a></li>
                  <li><a href="#">BANK</a></li>
                  <li><a href="#">E-COMMERCE</a></li>
                  <li><a href="#">CHAT</a></li>
                </ul>
              </li>
          </li>

          <li><a href="about.html">ABOUT</a></li>
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
      </nav>
<!-- .navbar -->
