<!-- start shop dan donasi -->
<div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
<h5 class="text-secondary text-uppercase mb-4">Toko dan Donasi Simaster</h5>
<p class="mb-4">Kami membuka toko dan juga membuka donasi untuk keberlangsungan experiment kami melalui di bawah ini.</p>
</div>
<!-- end shop dan donasi -->
<!-- Offer Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="row px-xl-5">
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="/assets/images/toko-shopee.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 25%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <h5 class="text-white mb-3">Simaster Premium Auto / Manual</h5>
                        <a href="https://shopee.co.id/y050f94mbut?smtt=0.448118067-1672938706.9" class="btn btn-primary">Pesan Sekarang</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="/assets/images/toko-tokopedia.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 25%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <h5 class="text-white mb-3">Simaster Premium Auto / Manual</h5>
                        <a href="https://www.tokopedia.com/master-wifi" class="btn btn-primary">Pesan Sekarang</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- Offer End -->
