<div id="kotak-bagikan-container">
<div class="garis-label-c">
<p class="bagikan-sekarang">PERPUSTAKAAN POST DAN HALAMAN SIMASTER</p>
</div>
<text align="center">
<button type="button" style="cursor: default" class="btn-warning"><a href="{{ site.baseurl }}/blog.html">BlogMaster</a></button>
<button type="button" style="cursor: default" class="btn-warning"><a href="{{ site.baseurl }}/arsip.html">Arsip</a></button>
<button type="button" style="cursor: default" class="btn-warning"><a href="{{ site.baseurl }}/sitemap.html">Sitemap</a></button>
<button type="button" style="cursor: default" class="btn-warning"><a href="{{ site.baseurl }}/feed.xml">RSS Feed</a></button>
</text>
</div
