<div id="kotak-bagikan-container">
<div class="garis-label-c">
<p class="bagikan-sekarang">LIHAT SEMUA POST DAN HALAMAN SIMASTER</p>
</div>
<div id="kotak-bagikan">
<a href="{{ site.baseurl }}/arsip.html" class="btn btn-primary navbar-btn cursorNorm" role="button">Arsip Blog{{tag}}</a>
<a href="{{ site.baseurl }}/sitemap.html" class="btn btn-primary navbar-btn cursorNorm" role="button">Sitemap{{tag}}</a>
<a href="{{ site.baseurl }}/feed.xml" class="btn btn-primary navbar-btn cursorNorm" role="button">RSS Feed{{tag}}</a>
</div>
</div
