<div id="kotak-bagikan-container">
<div class="garis-label-c">
<p class="bagikan-sekarang">LIHAT SEMUA POST DAN HALAMAN SIMASTER</p>
</div>
<div id="kotak-bagikan">
<a href="{{ site.baseurl }}/arsip.html" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=650,height=300,toolbar=1,resizable=0'); return false;">Arsip Blog</a>
<a href="{{ site.baseurl }}/sitemap.html" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=650,height=300,toolbar=1,resizable=0'); return false;">Sitemap</a>
<a href="{{ site.baseurl }}/feed.xml" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=650,height=300,toolbar=1,resizable=0'); return false;">RSS Feed</a>
</div>
</div
