<div id="main-wrapper">
 <div class="main section" id="main">
  <div class="widget Blog" data-version="1" id="Blog1">
   <div class="blog-posts hfeed">
    <!--Can't find substitution for tag [defaultAdStart]--> 
    {% for post in site.posts limit:10 %}
    <div class="post-outer">
     <div class="post hentry">
      <meta content="{% if post.summary %}{{ post.summary | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ post.content | truncatewords: 50 | strip_html }}{% endif %}" property="twitter:description">
      <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
       <meta content="https://1.bp.blogspot.com/1LLxMPu62pGZhWhDS08USEmIrC5UTnx3I-3elJSBOJsP1GIJxlr3fUZR59uAPE_jWUg=s180" itemprop="url">
       <meta content="700" itemprop="width">
       <meta content="700" itemprop="height">
      </div>
      <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
       <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta content="https://3.bp.blogspot.com/--15lMM2sBn4/Wbn6D7B0ZWI/AAAAAAAANwM/iuU0-pb1bRUf1ruJtchyppHgTdoE0rhpwCLcBGAs/s1600/infinite-amp.png" itemprop="url">
        <meta content="600" itemprop="width">
        <meta content="600" itemprop="height">
       </div>
       <meta content="AppDroid Hunter" itemprop="name">
      </div>
      <div class="thumb-wrapper">
       <div class="first-thumb">
        <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
         <amp-img alt="{{ post.title }}" height="110" layout="responsive" src="https://1.bp.blogspot.com/1LLxMPu62pGZhWhDS08USEmIrC5UTnx3I-3elJSBOJsP1GIJxlr3fUZR59uAPE_jWUg=s180" width="110" class="i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout" i-amphtml-layout="responsive">
          <i-amphtml-sizer slot="i-amphtml-svc" style="padding-top: 100%;"></i-amphtml-sizer>
          <img decoding="async" alt="{{ post.title }}" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL6mgkg2BVXmpv8dPaek_ZeKzS5dCyzZ9p4w&usqp=CAU" class="i-amphtml-fill-content i-amphtml-replaced-content">
         </amp-img></a>
       </div>
      </div>
      <h2 class="post-title entry-title"><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <div class="post-header">
       <div class="post-header-line-1">
        <div class="post-info">
         <span class="author-info"> ✔ <span class="fn"><span itemprop="name">Certified</span></span></span>
         <span class="post-timestamp">
          <meta content="{{ post.url | prepend: site.baseurl }}" itemprop="url">
          <svg height="24" viewbox="0 0 24 24" width="24">
           <path d="M12,20C16.42,20 20,16.42 20,12C20,7.58 16.42,4 12,4C7.58,4 4,7.58 4,12C4,16.42 7.58,20 12,20M12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.47,22 2,17.5 2,12C2,6.48 6.48,2 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z"></path>
          </svg><a class="timestamp-link" href="{{ post.url | prepend: site.baseurl }}" rel="bookmark" title="permanent link"><abbr class="published updated" itemprop="datePublished" title="{{ post.date | date: "%d-%m-%Y" }}">{{ post.date | date: "%d-%m-%Y" }}</abbr></a></span>
        </div>
       </div>
       <div class="spacer"></div>
       <div aria-label="Rating" class="rating" role="img">
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
       </div>
      </div>
      <div class="post-body entry-content" id="post-body-2671850763688371894">
       <div class="post-snippet">
         {% if post.summary %}{{ post.summary | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ post.content | truncatewords: 50 | strip_html }}{% endif %}
       </div>
       <div class="clear"></div>
      </div>
      <div class="post-footer">
       <div class="post-footer-line post-footer-line-1"></div>
      </div>
     </div>
    </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
