<!-- Categories Start -->
  <div class="container-fluid pt-5">
     <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Produk Terbaru</span></h2>
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="https://www.mediafire.com/file/y0728a9i37fnmlm/tata-cara-auto-usb0.zip/file">
                    <div class="cat-item d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="img/cat.jpg" alt=""></a>
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Simaster Auto usb0</h6>
                            <small class="text-body">1 Products</small>
                            <p><a href="https://www.mediafire.com/file/y0728a9i37fnmlm/tata-cara-auto-usb0.zip/file"><i>DOWNLOAD</i></a></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="https://www.mediafire.com/file/f1kq53d14ttgsr6/tata-cara-auto-usb1.zip/file">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="img/cat.jpg" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Simaster Auto usb1</h6>
                            <small class="text-body">1 Products</small>
                            <p><a href="https://www.mediafire.com/file/f1kq53d14ttgsr6/tata-cara-auto-usb1.zip/file"><i>DOWNLOAD</i></a></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="https://www.mediafire.com/file/21b2susvgej640j/tata-cara-auto-eth1.zip/file">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="img/cat.jpg" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Simaster Auto eth1</h6>
                            <small class="text-body">1 Products</small>
                            <p><a href="https://www.mediafire.com/file/21b2susvgej640j/tata-cara-auto-eth1.zip/file"><i>DOWNLOAD</i></a></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="https://www.mediafire.com/file/a2mztsnalflo2ta/tata-cara-auto-eth2.zip/file">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="img/cat.jpg" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Simaster Auto eth2</h6>
                            <small class="text-body">1 Products</small>
                            <p><a href="https://www.mediafire.com/file/a2mztsnalflo2ta/tata-cara-auto-eth2.zip/file"><i>DOWNLOAD</i></a></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="https://www.mediafire.com/file/e3o93gz82cjetkg/tata-cara-auto-vlan20.zip/file">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="img/cat.jpg" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Simaster Auto vlan20</h6>
                            <small class="text-body">1 Products</small>
                            <p><a href="https://www.mediafire.com/file/e3o93gz82cjetkg/tata-cara-auto-vlan20.zip/file"><i>DOWNLOAD</i></a></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="https://www.mediafire.com/file/b9l6h99o8qswgqk/tata-cara-auto-vlan30.zip/file">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="img/cat.jpg" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Simaster Auto vlan30</h6>
                            <small class="text-body">1 Products</small>
                            <p><a href="https://www.mediafire.com/file/b9l6h99o8qswgqk/tata-cara-auto-vlan30.zip/file"><i>DOWNLOAD</i></a></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="https://www.mediafire.com/file/8dlj33xhtttqz8j/tata-cara-auto-wwan0.zip/file">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="img/cat.jpg" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Simaster Auto wwan0</h6>
                            <small class="text-body">1 Products</small>
                            <p><a href="https://www.mediafire.com/file/8dlj33xhtttqz8j/tata-cara-auto-wwan0.zip/file"><i>DOWNLOAD</i></a></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="https://www.mediafire.com/file/ja87naood1kuqrs/tata-cara-auto-usb0-usb1.zip/file">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="img/cat.jpg" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Simaster Auto usb0 dan usb1</h6>
                            <small class="text-body">1 Products</small>
                            <p><a href="https://www.mediafire.com/file/ja87naood1kuqrs/tata-cara-auto-usb0-usb1.zip/file"><i>DOWNLOAD</i></a></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="https://www.mediafire.com/file/4f8rbz9wwxvij67/tata-cara-auto-eth1-eth2.zip/file">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="img/cat.jpg" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Simaster Auto eth1 dan eth2</h6>
                            <small class="text-body">1 Products</small>
                            <p><a href="https://www.mediafire.com/file/4f8rbz9wwxvij67/tata-cara-auto-eth1-eth2.zip/file"><i>DOWNLOAD</i></a></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="https://www.mediafire.com/file/hfw2kews7jc6utw/tata-cara-auto-vlan20-vlan30.zip/file">
                    <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="img/cat.jpg" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>Simaster Auto vlan20 dan vlan30</h6>
                            <small class="text-body">1 Products</small>
                            <p><a href="https://www.mediafire.com/file/hfw2kews7jc6utw/tata-cara-auto-vlan20-vlan30.zip/file"><i>DOWNLOAD</i></a></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
<!-- Categories End -->
