.caption {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.vid-main-wrapper {
  width: 100%;
  max-width: 100%;
  min-width: 440px;
  background: #fff;
  margin: 0 auto;
}


/*  VIDEO PLAYER CONTAINER */
.vid-container {
  position: relative;
  padding-bottom: 5;
  padding-top: 5;
  height: 315px;
  width: 85%;
  float: left;
}
		 
.vid-container iframe,
.vid-container object,
.vid-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 315px;
}

/*  VIDEOS PLAYLIST  */
.vid-list-container {
  width: 15%;
  height:360px;
  overflow: hidden;
  float: right;
}

.vid-list-container:hover, .vid-list-container:focus {
  overflow-y: auto;
}

ol#vid-list {
  margin: 0;
  padding: 0;
  background: #222;
}

ol#vid-list li {
  list-style: none;
}

ol#vid-list li a {
  text-decoration: none;
  background-color: black;
  height: 55px;
  display: block;
  padding: 10px;
}

ol#vid-list li a:hover {
  background-color: black
}

.vid-thumb {
      float: left;
	margin-right: 8px;
}

    .active-vid { 
      background: black;
    }

#vid-list .desc {
	color: green;
	font-size: 13px;
	margin-top: 5px;
}


@media (max-width: 100%) {
  body {
    margin: 15px;
  }

  .caption {
    margin-top: 40px;
  }

  .vid-list-container {
    padding-bottom: 20px;
  }
}
