---
title: blog simaster
layout: post
keywords: news, blog, updates, release notes, announcements, member
permalink: blog.html
folder: blog
---

<!-- some HTML content -->
<div class="home">
<div class="post-list">
{% for post in site.posts limit:20 %}
    <div>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%d-%b-%Y" }} / {% for tag in post.tags %}
        <a href="{{ "tag-" | append: tag | append: ".html"}}">{{tag}}</a>{% endfor %} / {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.author }}</span></span>{% endif %}
        </span>


            {%- assign postImage = post.image | relative_url -%}
            {%- if postImage -%}
                <img src="{{postImage}}" alt="{{ post.title }}" width="100%" height="300">
            {%- else -%}
                {%- assign postImage = "/assets/images/post.jpg" | relative_url -%}
                <img src="{{postImage}}" alt="{{ post.title }}" width="100%" height="300">
            {%- endif -%}
         <p>{% if page.summary %} {{ page.summary | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ post.content | truncatewords: 50 | strip_html }} {% endif %}</p>
    </div>   
{% endfor %}
        <hr />
        <p><b>Lihat berita loker lain nya:</b></p>
        <p><a href="/arsip.html" class="btn btn-primary navbar-btn cursorNorm" role="button">Semua Post Simaster{{tag}}</a>
        <a href="/sitemap.html" class="btn btn-primary navbar-btn cursorNorm" role="button">Sitemap{{tag}}</a>
        <a href="feed.xml" class="btn btn-primary navbar-btn cursorNorm" role="button">RSS{{tag}}</a></p>

</div>
</div>
<!-- some other HTML content -->
