<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body onload='generate()'>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TV4LFX8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include adsense.html %}
{% include navbar.html %}
<section>
  {% include breadcrumb.html %}
    {{ content }}
  {% include comments.html %}
</section>
{% include donasimaster.html %}
{% include offer.html %}
{% include vendor.html %}
<footer>
{% include footer.html %}
{% include adsense.html %}
</footer>
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

{% include javascript.html %}

</body>
</html>
