<!doctype html>
<html class="no-js" lang="en">
<head>
{% include head.html %}
</head>

<body onload='generate()'>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TV4LFX8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include adsense.html %}
{% include header.html %}
{{ content }}
{% include donasimaster.html %}

<footer>
{% include footer.html %}
</footer>

{% include javascript.html %}
{% include antiadblock.html %}
</body>
</html>

