---
layout: default
---

<div class="post">
<!-- Page Header -->
    <br />
    <br />
    {% include iklan728x90.html %}
<header class="intro-header">
{% if page.image %}<img src="{{ page.header-img }}" align="center" width="80% height="320" />{% else %}<img src="/assets/images/post.png" align="center" />{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class='post-title entry-title' itemprop='headline'><a href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" style="color:orange;" title='{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}' itemprop='url mainEntityOfPage'>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a></h1>
                    <hr class="small">
                    <span class="subheading" style="color:orange;">{{ page.subtitle }}</span>
		</div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
<div itemprop='image' itemscope='itemscope' itemtype='https://schema.org/ImageObject'>
  <meta content='{{site.url}}{{ site.baseurl }}/{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}' itemprop='url'/>
  <meta content='1280' itemprop='width'>
  <meta content='720' itemprop='height'>
</div>
  <div itemprop='publisher' itemscope='itemscope' itemtype='https://schema.org/Organization'>
    <div itemprop='logo' itemscope='itemscope' itemtype='https://schema.org/ImageObject'>
      <meta content='{{site.url}}{{ site.baseurl }}/assets/images/post.png' itemprop='url'/>
      <meta content='600' itemprop='width'>
      <meta content='60' itemprop='height'>
    </div>
    <meta content='{{ site.title }}' itemprop='name'>
  </div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   {% include iklan.html %}
			{{ content }}
                   {% include iklan.html %}
			</div>
	</div>
</div>
</div>
<hr>
