---
layout: default
---

<div id="wrapper">
  <div id="content-wrapper" itemscope itemtype="http://schema.org/Blog" role="main">
    <div id="main-wrapper">
      <div class="main section" id="main">
        <div class="widget Blog" data-version="1" id="Blog1">
          <div class="blog-posts hfeed">
            {% if page.summary %}
             <div class="summary">{{page.summary}}</div>
               {% endif %}

               {% unless page.toc == false %}
              {% include toc.html %}
             {% endunless %}

          {{content}}

        </div>
      </div>
    </div>
  </div>
</div>
